html, body{
    width : 100%;
    height : 100%;
}
.bx-wrapper, .bx-viewport, .slider{
    width: 100%;
    height: 100%;
}
/* 적용된 요소를 기준으로 부모 태그도 전부 100%값을 가져야 그림 표현 가능*/
.background_01{
    width: 100%;
    height: 100%;
    background: url("../images/a.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.background_02{
    width: 100%;
    height: 100%;
    background: url("../images/b.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.background_03{
    width: 100%;
    height: 100%;
    background: url("../images/c.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.overlay{
    width: 100%;
    height: 100%;
    background: url("../images/16.png");
    position: absolute;
    /* position 태그를 사용하면 공중에 뜬 상태가 됨-->다음 태그가 존재를 인식하지 못하고 덮어버림(slider tag 밑에 oerlay tag가 깔려있는 것)
    position: absolute -> position이 좌표의 절대값의 위치에 영향 받도록 함*/
    top: 0;
    /* position이 가장 위쪽에 붙어서 출력*/
    z-index: 10;
    /*깔려있는 overlay tag를 위쪽으로 올리는 방법
    z-index는 0-9999까지 숫자로 가능
    우리가 가진 모든 태그는 z=index가 0 -> 따라서 마지막에 해석되는 것이 더 위쪽에 보임
    */
}
.contents{
    position: absolute;     /*absolute라는 건 그 위치가 절대값 좌표에 의해 결정된다는 것*/
    top: 50%;    /*top, left에 의해 시작점이 결정됨*/
    left: 50%;
    margin-left : -230px;    /*contents영역의 전체 크기에서 절반 값 빼줌*/
    margin-top: -120px;       /*높이의 절반만큼 뺴줌*/
    z-index: 20;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Malgun Gothic"
}
.contents_name{
    font-size: 64px;
    margin-bottom: 25px;
}
.contents_job{
    font-size: 25px;
    margin-bottom: 50px;
}
.contents_list{
    font-size: 0;
}
.contents_list > li{
    display: inline-block;
    width: 52px;
    height: 52px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 16px;
    line-height: 52px; /*한줄 짜리 텍스트를 특정 영역에서 수직, 중앙에 오게 하려면 line-height를 부모 영역의 높이와 똑같이 지정*/
    margin-right: 20px;
}
.contents_list > li:last-child{
    margin-right: 0;
}

.contents_list > li > a{
    color: white; /*inherit : 부모 tag(li)가 가진 색을 상속 받음*/
}
